<h1>Order a Pizza</h1>

{% comment %} Adding file/files through form we need to add enctype="multipart/form-data" {% endcomment %}

<form action="{% url 'order' %}" class="" method="post">
    {% csrf_token %}
    {{ pizzaform.as_p }}
    <input type="submit" value="Order">
</form>
<br><br>
Want more than one Pizza?
<form action="{% url 'pizzas' %}" class="" method="get">
    {{ multiple_form }}
    <input type="submit" value="Get Pizzas">
</form>
<h2>{{ note }}</h2>
{% if created_pizza_pk %}
<a href="{% url 'edit_order' created_pizza_pk %}" > Edit Your Order </a>
{% endif %}